.header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0.8em;
  background: lightgrey;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__current-path {
  display: flex;
  align-items: center;
}

.header__home {
  text-decoration: none;
  color: black;
}

.header__page-title {
  margin-left: 0.5em;
  font-size: 0.75em;
}

.header__create-book {
  margin: .5em;
}

.create-book {
  height: 30px;
  margin-right: 1.6em;
  border-radius: 3px;
  font-size: 0.75em;
}

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by__label {
  font-size: 0.75em;
  margin-right: 0.8em;
}

.sort-by__field {
  font-size: 0.85em; 
  margin-right: 0.8em;
}

.sort-by__direction {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  font-size: 0.75em; 
}

@media (min-width: 768px) {
  .header {
    min-height: 70px;
    padding: 0.8em 2em;
    font-size: 1.5em;
    flex-direction: row;
  }

  .header__create-book {
    margin: 0 0 0 auto;
  }
}

