:root {
  --primary-color: lightgrey;
  --secondary-color: #F2F4F4;
}

body {
  min-height: 100vh;
  margin: 0;
}

button, select {
  border: 1px solid var(--primary-color);
  background: white;
  outline: none;
}

input {
  border: 1px solid var(--primary-color);
}

