.book {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book:hover {
  background: #F2F4F4;
}

.book + .book {
  border-top: 1px solid #F2F4F4;
}

.book__title {
  font-size: 2.3em;
  margin-bottom: 0.6em;
  text-align: center;
}

.book__info {
  display: flex;
  flex-direction: column;
}

.book__info-col {
  width: 250px;
}

.book__field {
  padding: 0.15em;
  display: flex;
}

.book__field-title {
  font-weight: bold;
  padding-right: 0.3em;
}

.book__buttons {
  margin-top: 1em;
  text-align: center;
}

.book__buttons > a {
  margin-right: 1em;
}

.book__btn {
  width: 80px;
  font-size: 1em;
  border-radius: 3px;
}

.book__image {
  width: 130px;
  height: 175px;
  margin-bottom: 1em;
  border: 1px solid lightgrey;
  order: -1;
}

@media (min-width: 768px) {
  .book {
    width: 728px;
    flex-direction: row;
  }

  .book__title {
    text-align: left;
  }

  .book__info {
    flex-direction: row;
  }

  .book__info-col + .book__info-col {
    margin-left: 5em;
  }

  .book__buttons {
    text-align: left;
  }

  .book__image {
    margin-left: auto;
    margin-bottom: 0; 
    order: 2;
  }
}

