.book {
  width: 750px;
  padding: 20px;
  display: flex;
}

.book:hover {
  background: #F2F4F4;
}

.book + .book {
  border-top: 1px solid #F2F4F4;
}

.book__title {
  font-size: 2.3em;
  margin-bottom: 0.6em;
}

.book__info {
  display: flex;
}

.book__infocol {
  width: 250px;
}

.book__infocol + .book__infocol {
  margin-left: 5em;
}

.book__field {
  padding: 0.15em;
  display: flex;
}

.book__fieldtitle {
  font-weight: bold;
  padding-right: 0.3em;
}

.book__buttons {
  margin-top: 1em;
}

.book__buttons > a {
  margin-right: 1em;
}

.book__btn {
  width: 80px;
  font-size: 1em;
  border-radius: 3px;
}

.book__image {
  width: 130px;
  height: 175px;
  margin-left: auto;
  border: 1px solid lightgrey;
}

