.message {
  box-sizing: border-box;
  height: 0;
  margin-top: 3.5em;
  padding: .3em 0.7em;
  font-size: 2em;
  transition: all 200ms;
  opacity: 0;
}

.message.failure {
  background: #FADBD8;
}

.message.success {
  background: #D5F5E3;
}

.message.entered {
  height: 100%;
  opacity: 1;
}

.message.form-message {
  font-size: 1.45em;
  margin-top: 2.8em;
  margin-bottom: .5em;
}

@media (min-width: 768px) {
  .message {
    margin-top: 2.5em;
    padding: .3em 1.3em;
  }

  .message.form-message {
    margin-top: 3em;
    font-size: 1.75em;
  }
}

